html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
 margin: 0;
 padding: 0;
 display: flex;
 justify-content:center;
 background-color: black;
 overflow-y: hidden;
}

.grid-container {
    height: 93vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2rem solid coral;
    border-radius: 20px;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.grid-square {
    height: 100%;
    width: 100%;
    background-color: black;
}

.hover {
    background-color: pink;
}

.left-sidebar, .right-sidebar {
   width: 30vw;
}

.right-sidebar {
    padding:1rem 1rem 0 3rem;
}

button {
    background-color: black;
    color: snow;
    border: 1px solid snow;
    font-family: monospace;
    border-radius: 2px;
    transition: all .07s;
}

button:hover {
    scale: 1.1;
}

button:focus {
    background-color: snow;
    color: black;
}

.selected { 
    border-color: coral;
}

input {
    background-color: black;
    color: snow;
    border: 1px solid snow;
    font-family: monospace;
    margin: 1rem 0 0 0;
}

p, .grid-size-label {
    font-family: "Handjet", sans-serif;
    color: snow;
    font-size: 1.5rem;
    padding: 0;
}

.left-sidebar>p {
    margin: 0;
    padding: 2rem 1rem 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 300;
}

.left-sidebar span {
    font-size: 2rem;
    font-weight: 500;
}

kbd {
    font-size: 1rem;
    font-family: monospace, sans-serif;
    background-color: #a1a1a1;
    border: 1px solid snow;
    border-radius: 2px;
}

.left-sidebar>.pause-msg {
    font-family: "Monoton", sans-serif;
    font-size: 3rem;
    background: -webkit-radial-gradient( #0026ff, #ff0095);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 0 0 5rem;
}

.board {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}


#title {
    margin: -5rem -2rem 0 -2rem;
    padding: -2rem 0 0 0;
    z-index: 1;
    font-family: "Monoton", sans-serif;
    font-size: 7.8rem;
    font-weight: 400;
    background: -webkit-radial-gradient( #ff5100, #700061);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    margin-top: 1.5rem;
}