html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
 margin: 0;
 padding: 0;
 display: flex;
 justify-content:center;
 background-color: lavender;
}

.grid-container {
    height: 95vh;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3rem solid coral;
    border-radius: 20px;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.grid-square {
    height: 100%;
    width: 100%;
    background-color: black;
}

.hover {
    background-color: pink;
}

.left-sidebar, .right-sidebar {
   width: 30vw;
}

.right-sidebar {
    padding:1rem 1rem 0 3rem;
}
